body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.start-button {
  position: absolute;
  transform: translateX(-50%,-50%);
  padding: 10px 20px;
  font-size: 18px;
  bottom: 0;
  right: 0;
  background-color: orange;
  color: white;
  border-radius: 8px;
  border: 2px solid rgb(230, 211, 175);
}

.game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(31, 31, 31);
}
.canvas{
  position: absolute;
  width: 80vw;
  height: 100vh;
  background-color: rgb(132, 73, 73);
}
.table{
  position: relative;
  background-size: cover;
  background-position: center;
  height: 85vh;
  width: 80vw;
}


.seat-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.player-1{
  position: absolute;
  top: 64vh;
  left: 46vw;
}
.player-2{
  position: absolute;
  top: 64vh;
  left: 18vw;

}
.player-3{
  position: absolute;
  top: 43vh;
  left: 2vw;
}
.player-4{
  position: absolute;
  top: 20vh;
  left: 2vw;
}
.player-5{
  position: absolute;
  top: 1vh;
  left: 16vw;
}
.player-6{
  position: absolute;
  top: 1vh;
    left: 46vw;
}

.gameState-container{
  position: absolute;
  top: 45vh;
  left: 40vw;
  transform: translate(-50%,-50%);
  /* background-color: aqua; */
  width: 50vw;
}
.underBar{
  width: 80vw;
  height: 15vh;
  background-color: rgb(80, 80, 80);
}
.underBar_chatting{
  position: absolute;
  display: block;
  height: 13vh;
  width: 30vw;
  background-color: rgb(57, 57, 57);
  border-radius: 15px;
  margin-top: 1vh;
  margin-left: 1vh;
}
.underBar_join{
  position: absolute;
  display: block;
  height: 13vh;
  width: 4vw;
  background-color:  rgb(83, 83, 83);
  border-radius: 15px;
  margin-top: 1vh;
  margin-left: 65vh;
  color: rgb(143, 143, 143);
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.underBar_join_contact{
  background-color: rgb(57, 57, 57);
  width: 2rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  border-radius: 8px;
}