.game-state-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
  }
  
  .board-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .board-cards {
    position: absolute;
    top: 35vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .player-cards{
    display: flex;
  }
  
  .card {
    width: 40px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  
  .pot{
    position: absolute;
    top: 18vh;
    display: flex;
    flex-direction: row;

  }
  .pot-title {
    font-size: 2rem;
    color: rgb(202, 202, 202);
  }
  .pot-amount {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(204, 204, 204);
  }
  