.ready-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(113, 113, 113,0.5);
    padding: 20px;
    border-radius: 8px;
    width: 15vw;
    height: 12vh;
    color: white;
  }
  
  .ready-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .ready-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .ready-value {
    font-weight: normal;
  }
  